body{
    height: 100%;
    width: 100%;
    background-size: contain;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}
.wrapper{
    width: 400px;
    height: 200px;
    margin: 10% auto;
}

.wrapper .Store-name{
    font-size: 50px;
    line-height: 200px;
    height: 200px;
    color: whitesmoke;
    text-align: center;
}

.wrapper .Manager-login{
    height: 100px;
    line-height: 100px;
    text-align: center;
}

.wrapper .Manager-login h3{
    font-size: 25px;
    color: whitesmoke;
}

.wrapper .username{
    height: 50px;
}

.wrapper .username input{
    height: 30px;
    width: 150px;
    text-align: center;
    background-color:white;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 20px;
}

.wrapper .username span{
    margin-left: 105px;
    color: whitesmoke;
}

.wrapper .password{
    height: 40px;
}

.wrapper .password input{
    height: 30px;
    width: 150px;
    text-align: center;
    background-color:white;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 20px;
}
.wrapper .password span{
    margin-left: 105px;
    color: whitesmoke;
}

.wrapper .login-icon{
    height: 100px;
    padding-left: 165px;
    padding-top: 30px;
}

.wrapper .login-icon input{
    height: 40px;
    width: 70px;
    border-radius: 20px;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
