.rate{
    height: 100px;
    width: 300px;
    text-align: center;
    margin: 5% auto;
    padding: 0px;
}
h3{
    text-align: center;
    margin-top: 20px;
}
i{
    text-align: center;
    margin-top: 10px;
}