#box .sign-up{
    margin: 5% auto;
    text-align: center;
}
#box .sign-up h3{
    font-size: 20px;
    color: #EFF0F1;
    margin: 5px;
}

#box .sign-up input{
    height: 30px;
    width: 250px;
    border-radius: 20px;
}

::placeholder{
    padding-left: 10px;
}
#box .sign-up .submit-button{
    height: 30px;
    width: 250px;
    margin: 30px auto;
}
#box .sign-up button{
    display: block;
    margin-left: 20%;
    text-align: center;
    height: 30px;
    width: 150px;
    border-radius: 20px;
    color: #EFF0F1;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}