.box{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
.tables-list{
    display: inline-block;
    margin-left: 20%;
    width: 400px;
}
.username{
    text-align: center;
}

.avaliable-time{
    margin-top: 20px;
}

.tables{
    display: inline-block;
    margin-left: 100px;
}

.t2{
    text-align: center;
    margin-left: 80px;
}

.pick-button{
    margin-left: 5px;
}